.txView {
    list-style: unset;

    & em {
        font-style: italic;
    }

    & ol {
        padding-left: 35px;

        & li {
            list-style-type: inherit;
        }
    }

    & ul {
        list-style-type: disc;
        padding-left: 30px;
        margin-left: 0;

        & li {
            list-style: unset;
            list-style-type: inherit;
        }
    }

    & hr,
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        display: block;
    }

    & button {
        background-color: transparent;
        border: none;
        padding: 0;
        text-align: left;
        margin: 0;

        & img {
            vertical-align: middle;
        }
    }
}
