@use 'variable' as *;
@use 'reset'  as *;

.section_wrap {
  overflow-x: hidden;
}

.standard_user {

  .contents_wrap {

    table.contents_box.member_table {
      table-layout: auto !important;
      width: 100% !important;
      max-width: 100% !important;
      box-sizing: border-box !important;

      th, td {
        width: auto !important;
      }

      th .credit_label {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 500;
        &.total {
          background-color: #f5f5f5;
          color: #333;
        }
        &.used {
          background: #FFF7ED;
          color: #EA580C;
        }
        &.remove {
          background: #ECFDF5;
          color: #16A34A;
        }
        &.remaining {
          background: #EFF6FF;
          color: #2563EB;
        }
      }

      th.credit_last {
        border-right: 1px solid #e0e0e0;
      }

      tbody {
        td {
          padding: 13px 10px;
          &.text_left {
            text-align: left;
          }

          &.credit_total {
            color: #333;
            font-size: 13px;
            font-weight: 500;
          }
          &.credit_used {
            color: #EA580C;
            font-size: 13px;
            font-weight: 500;
          }
          &.credit_remove {
            color: #16A34A;
            font-size: 13px;
            font-weight: 500;
          }
          &.credit_remaining {
            color: #2563EB;
            font-size: 13px;
            font-weight: 500;
            border-right: 1px solid #e0e0e0;
          }

          .line {
            color: #ddd;
          }

          .value {
            display: inline-flex;
            align-items: center;
            min-width: 106px;
            margin-right: 10px;
            font-size: 13px;
            font-weight: 500;
            &:last-child {
              margin-right: 0;
            }
            .label {
              padding: 6px 8px;
              border-radius: 10px;
              font-size: 12px;
              //font-weight: 600;
              margin-right: 6px;
            }
            &.total {
              .label {
                background-color: #f5f5f5;
                color: #333;
              }
              color: #333;
            }
            &.used {
              .label {
                background:#FFF7ED;
                color:#EA580C;
              }
              color:#EA580C;
            }
            &.remove {
              .label {
                background:#ECFDF5;
                color:#16A34A;
              }
              color:#16A34A;
            }
            &.remaining {
              .label {
                background:#EFF6FF;
                color:#2563EB;
              }
              color:#2563EB;
            }
          }

          //.value {
          //  //padding: 0 4px;
          //  //border-radius: 4px;
          //  //font-size: 13px;
          //
          //
          //  &.total {
          //    //background-color: rgba(50,136,249,0.2);
          //    //background-color: #3B82F6;
          //    //color: #3B82F6;
          //
          //
          //    background:#f5f5f5;
          //    color:#333;
          //  }
          //  &.used {
          //    //background-color: rgba(249,115,22,0.2);
          //    //background-color: #F97316;
          //    //color: #F97316;
          //    background:#FFF7ED;
          //    color:#EA580C;
          //  }
          //  &.delete {
          //    //background-color: rgba(34,197,94,0.2);
          //    //background-color: #22C55E;
          //    //color: #22C55E;
          //
          //    background:#ECFDF5;
          //    color:#16A34A;
          //  }
          //  &.remaining {
          //    //background-color: rgba(34,197,94,0.2);
          //    //background-color: #22C55E;
          //    //color: #22C55E;
          //
          //
          //    background:#EFF6FF;
          //    color:#2563EB;
          //  }
          //}

          a {
            background-color: #0E2946;
            color: #fff;
            padding: 5.5px 10px;
            border-radius: 3px;
          }
        }
      }
    }
  }
}