@use 'variable' as *;
@use 'reset'  as *;

.mobile_icon {
  background: url("/admin/static/img/mobile_icon.svg") no-repeat;
}


.mo_search_box {
  display: block;
  height: 35.5px;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding-left: 34px;
  background-image: url("/admin/static/img/mo_search.svg");
  background-repeat: no-repeat;
  background-position: 12px center;
  border-radius: 4px;
  font-size: 13px;
}


// header

.mo_header {
  width: 100%;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  .right_wrap {
    button {
      width: 24px; height: 24px;
      background: none;
      border: none;
      &.calendar {
        margin-right: 14px;
        .mobile_icon {
          width: 24px; height: 24px;
          background-position: -20px -20px;
        }
      }
      &.logout {
        .mobile_icon {
          width: 24px; height: 24px;
          background-position: -58px -20px;
        }
      }
    }

  }
}

.mobile_section {
  .current {
    font-size: 16px;
    margin: 20px 0 14px 12px;
  }
  .sorting_scroll {
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-bottom: 10px;
    .mo_sorting_wrap {
      padding: 0 12px;
      width: max-content;
      display: flex;
      gap: 6px;
      li {
        cursor: pointer;
        width: fit-content;
        display: flex;
        box-sizing: border-box;
        padding: 10px 12px;
        border: 1px solid #ddd;
        border-radius: 20px;
        align-items: center;
        gap: 4px;
        .mobile_icon {
          align-items: center;
          width: 14px; height: 14px;
          background-position: -96px -20px;
        }
        &.on {
          border: 1px solid #58a5ff;
          color: #007AFF;
          font-weight: 500;
        }
      }

    }
  }
  .search_input_wrap {
    width: 100%;
    position: relative;
    .mo_search_box {
      width: calc(100% - 28px);
      margin: 10px auto;
    }
    .delete_btn {
      position: absolute;
      top: 8px; right: 22px;
      width: 20px; height: 20px;
      padding: 2px;
      background-color: #f5f5f5;
      border-radius: 50%;
      .mobile_icon {
        display: block;
        width: 16px; height: 16px;
        background-position: -186px -20px;
      }
    }
  }

  .filter {
    * {
      font-size: 13px;
    }
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 12px;
    margin: 0 auto 12px;
    border-bottom: 1px solid #eee;
    .left_wrap {
      display: flex;
      align-items: center;
      gap: 8px;
      .mobile_icon {
        display: block;
        width: 16px; height: 16px;
        background-position: -124px -20px;
      }
    }
    .right_wrap {
      display: flex;
      gap: 8px;
      align-items: center;
      button {
        background: none;
        &.tab {
          opacity: 0.5;
          &.on {
            opacity: 1;
          }
        }
      }
    }

  }

  .mo_list_wrap {
    width: calc(100% - 24px);
    margin: 0 auto;
    padding-bottom: 30px;

    .list {
      border: 1px solid #eee;
      width: 100%;
      padding: 12px;
      border-radius: 4px;
      margin-bottom: 10px;
      .top {
        display: flex;
        justify-content: space-between;
        .status {
          display: flex;
          gap: 6px;
          align-items: center;
          .status_badge {
            font-size: 12px;
            padding: 3px 6px;
            border-radius: 4px;
            background-color: #f5f5f5;
            &.create {
              color: #FFBB00;
              background-color: #FFF9E6;
            }
            &.lead {
              color: #006344;
              background-color: #E6F0ED;
            }
            &.meeting {
              color: #0154AE;
              background-color: #E6EEF7;
            }
            &.contract {
              color: #FF0000;
              background-color: #FFE6E6;
            }
            &.end {
              background-color: #f2f2f2;
              color: #787878;
            }
          }
        }
        .location {
          color: #63626F;
          font-size: 12px;
        }
      }
      .company {
        margin: 8px 0;
        font-weight: 600;
      }
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > div {
          flex-grow: 1;
          * {
            font-size: 13px;
          }
          .label {
            color: #777;
            width: 66px;
            display: inline-block;
          }
          .lead_register, .contract {
            margin-bottom: 4px;
          }
        }
        .line {
          display: none;
        }

      }
    }
  }
  .more {
    width: 100%; height: 32px;
    background: none;
    color: #777;
    .mobile_icon {
      width: 18px; height: 18px;
      display: inline-block;
      background-position: -154px -20px;
      transform: translateY(4px);
    }
  }

  @media screen and (min-width: 600px) {
    .mo_list_wrap .list .info div {
      display: flex;
      flex-grow: 1;
    }
    .mo_list_wrap .list .info div {
      .lead_register, .contract {
        margin-bottom: 0;
      }
    }
    .mo_list_wrap .list .info {
      gap: 12px;
      .line {
        display: inline-flex;
        width: 2px; height: 12px;
        background-color: #ddd;
        border-radius: 4px;
      }
    }
  }
}


// 모바일 필터 팝업 틀

.popupSection.mobile_filter {
  align-items: end;
  background: rgba(0,0,0,0.8);
  .mobile_popup_container {
    width: 100%;
    background: #fff;
    border-radius: 16px 16px 0 0;
    .title_wrap {
      position: relative;
      .title {
        font-size: 16px;
        width: 100%;
        text-align: center;
        padding: 12px;
        border-bottom: 1px solid #eee;
      }
      button {
        width: 20px; height: 20px;
        background: none;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        &.close_btn {
          right: 16px;
          .mobile_icon {
            display: block;
            width: 20px; height: 20px;
            background-position: -20px -58px;
          }
        }
        &.back_btn {
          left: 16px;
          .mobile_icon {
            display: block;
            width: 20px; height: 20px;
            background-position: -80px -92px;
          }
        }
      }
    }
  }
}

// 버튼 공통

.mo_popup_btn_wrap {
  width: 100%;
  padding: 15px;
  border-top: 1px solid #eee;
  display: flex;
  gap: 15px;
  button {
    width: 100%;
    padding: 12px;
    background-color: $theme-color;
    color: #fff;
  }
  .reset_btn {
    width: 106px;
    @include whiteBtn;
  }
  .done_btn {
    flex-grow: 1;
  }
}

// 필터 팝업 내용 : 필터

.contents01.filter {
  ul {
    padding: 6px 0;
    li {
      cursor: pointer;
      padding: 14px 20px;
      display: flex;
      justify-content: space-between;
      .mobile_icon {
        display: block;
        width: 14px; height: 14px;
        background-position: -82px -58px;
      }
      &.on {
        color: #007AFF;
        font-weight: 500;
        .mobile_icon {
          background-position: -54px -58px;
        }
      }
    }
  }

}

//필터 팝업 내용 : 계약 담당자, 등록자

.contents02.manager {
  padding: 6px 0;
  li {
    cursor: pointer;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    &.on {
      color: #007AFF;
      font-weight: 500;
    }
  }
}

//필터 팝업 내용 : 세일즈 단계

.contents03.sales_steps {
  .steps_wrap {
    * { color: #777; }
    padding: 14px 20px;
    & > li {
      font-weight: 500;
      &:last-child ul li {
        margin: 0;
      }
      .step_box {
        overflow: hidden;
        margin-top: 6px;
        li {
          font-weight: normal;
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
          padding: 5px 8px;
          border: 1px solid #ccc;
          border-radius: 2px;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
          &.on {
            border: 1px solid #007AFF;
            color: #007AFF;
          }
        }
      }
    }

  }
}
.contents04.detail {
  & > ul {
    padding: 6px 0;
    li {
      padding: 14px 20px;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      align-items: center;
      cursor: pointer;
      .right_wrap {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      span {
        font-weight: normal;
        color: #007AFF;
      }
      .mobile_icon {
        width: 20px; height: 20px;
        background-position: -110px -58px;
      }
    }
  }
}

.contents04_1.search_tag {
  .top_wrap {
    width: 100%;
    height: 348.5px;
    padding: 14px 20px;
    .search_wrap {
      display: flex;
      gap: 10px;
      input {
        flex: 1;
      }
      .add_btn {
        width: 54px;
        background-color: #ECF3FF;
      }
    }
    .tag_rap {
      padding-top: 14px;
      overflow: hidden;
      .tag {
        float: left;
        padding: 6px 8px 7px 10px;
        background-color: #ECF3FF;
        border-radius: 50px;
        width: fit-content;
        margin: 0 8px 8px 0;
        .mobile_icon {
          width: 14px; height: 14px;
          display: inline-flex;
          background-position: -144px -58px;
          transform: translateY(2px);
        }
      }
    }

  }
}

.contents04_2.region,
.contents04_3.industry {
  .top_wrap {
    display: flex;
    width: 100%;
    .top_left {
      height: 278px;
      overflow-y: auto;
      width: 40%;
      border-right: 1px solid #eee;
      background-color: #f5f5f5;
      .list {
        padding: 10px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #eee;
        &.on {
          background-color: #fff;
          .mobile_icon {
            background-position: -172px -58px;
          }
        }
        .mobile_icon {
          width: 14px; height: 14px;
        }
      }
    }
    .top_right {
      width: 60%;
      height: 278px;
      overflow-y: auto;
      background-color: #fff;
      li {
        padding: 10px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f9f9f9;
        .mobile_icon {
          width: 14px; height: 14px;
          background-position: -50px -92px;
        }
        &.on {
          color: #007AFF;
          .mobile_icon {
            background-position: -20px -92px;
          }
        }
      }
    }
  }

}


.mo_bottom_wrap {

  border-radius: 20px 20px 0 0;
  border-top: 1px solid #eee;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  .selected_wrap {
    padding: 15px 15px 0 15px;
    p { margin-bottom: 4px; font-weight: 500 }
    .selected_list {
      min-height: 36.5px;
      max-height: 74px;
      overflow-y: auto;
      li {
        float: left;
        padding: 6px 8px 7px 10px;
        background-color: #ECF3FF;
        border-radius: 50px;
        width: fit-content;
        margin: 8px 8px 0 0;
        .mobile_icon {
          width: 14px; height: 14px;
          display: inline-flex;
          transform: translateY(2px);
          &.delete {
            background-position: -144px -58px;
            margin-left: 2px;
          }
          &.arrow {
            background-position: -172px -58px;
            margin: 0 2px;
          }
        }
      }
    }
  }
  .mo_popup_btn_wrap {
    border: none;
  }
}