@use 'variable' as *;
@use 'reset'  as *;

.mobile_section {
  position: relative;
  .bm_icon {
    background: url("/admin/static/img/bm_icon.svg");
  }
  .detailPage {
    width: 100%;
    height: calc(100dvh - 98px);
    padding: 0 12px;
    .company_summary {
      .list {
        border: 1px solid #eee;
        width: 100%;
        padding: 12px;
        border-radius: 4px;
        margin-bottom: 10px;
        .top {
          display: flex;
          justify-content: space-between;
          .status {
            display: flex;
            gap: 6px;
            align-items: center;
            .status_badge {
              font-size: 10px;
              padding: 4px 10px;
              border-radius: 4px;
              background-color: #f5f5f5;
              &.create {
                color: #FFBB00;
                background-color: #FFF9E6;
              }
              &.lead {
                color: #006344;
                background-color: #E6F0ED;
              }
              &.meeting {
                color: #0154AE;
                background-color: #E6EEF7;
              }
              &.contract {
                color: #FF0000;
                background-color: #FFE6E6;
              }
              &.end {
                background-color: #f2f2f2;
                color: #787878;
              }
            }
          }
          .location {
            color: #63626F;
            font-size: 12px;
          }
        }
        .company {
          margin: 8px 0;
          font-weight: 600;
        }
        .info {
          display: flex;
          justify-content: space-between;
          & > div {
            flex-grow: 1;
            * {
              font-size: 13px;
            }
            .label {
              color: #777;
              width: 66px;
              display: inline-block;
            }
            .lead_register, .contract {
              margin-bottom: 4px;
            }
          }

        }
      }
    }
    .detailsPage_container {
      .now_customer {
        margin-bottom: 14px;
      }
      .sales_flow_bottom {
        * {
          font-size: 14px;
        }
        display: block;
        width: 100%;
        .bottom_left {
          width: 100%;
          .tab_menu {
            .tabs {
              margin-bottom: 14px;
              .tab_button {
                border: none;
                border-bottom: 1px solid #ddd;
                padding: 6px 4px;
                height: auto;
                width: 25%;
                &.on {
                  border-bottom: 2px solid $theme-color;
                }
              }
            }
          }
          .tab_content {
            padding: 0;
            border: none;
            height: calc(100dvh - 360px);
            overflow-y: auto;
            overflow-x: hidden;
            .tab_info {
              position: static;
              .company_input_form {
                padding: 0 10px;
                .tab_contents_left {
                  @media screen and (min-width: 600px) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                  }
                  &>li {
                    margin-bottom: 16px;
                    @media screen and (min-width: 600px) {
                     width: 48.5%;
                    }

                    .label {
                      font-size: 13px;
                      color: #555;
                      display: block;
                      margin-bottom: 10px;
                    }
                    input {
                      width: 100%;
                      border: 1px solid #eee;
                      padding: 8px;
                      height: 36px;
                      border-radius: 3px;
                    }
                    .hs_code_search {
                      input {
                        padding-left: 34px;
                      }
                    }
                    .search_list {
                      position: absolute;
                      top: 40px; left: 0;
                      width: 100%;
                      background-color: #fff;
                      border: 1px solid #ddd;
                      z-index: 9;
                      li {
                        margin-bottom: 0;
                        width: 100%;
                        padding: 12px 10px;
                        cursor: pointer;
                        &:hover {
                          background: #F6F6F7;
                        }
                      }
                    }
                    .input_list {
                      margin: 0px 6px 6px 6px;
                      display: flex;
                      align-items: center;
                      width: 100%;
                      border-bottom: 1px solid #eee;
                      .input_list {
                        border-bottom: none;
                      }
                      span {
                        text-align: center;
                        background-color: #f5f5f5;
                        border-radius: 4px;
                        margin-right: 6px;
                        font-size: 13px;
                        width: 60px;
                        height: 26px;
                        line-height: 26px;
                        display: block;
                      }
                      .filter_wrap {
                        width: 100%;
                        position: relative;
                        button {
                          width: 100%;
                          text-align: left;
                          box-sizing: border-box;
                          padding: 10px;
                          background: none;
                          border-radius: 0;
                          display: flex;
                          justify-content: space-between;
                          span {
                            padding: 0;
                            &.bm_icon {
                              width: 18px; height: 18px;
                              background: url("/admin/static/img/bm_icon.svg");
                              &.select_down {
                                background-position: -130px -20px;
                              }
                              &.select_up {
                                background-position: -92px -20px;
                              }
                              &.on {
                                display: block;
                              }
                              &.off {
                                display: none;
                              }
                            }
                          }
                        }

                      }
                      &:last-child {
                        margin-bottom: 0;
                      }
                    }
                    &.homePage {
                      @media screen and (min-width: 600px) {
                        width: 100%;
                      }
                    }
                    .voucher {
                      span {
                        margin-bottom: 0;
                      }

                      display: flex;
                      align-items: center;
                      gap: 6px;
                      height: 30px;

                      .input_wrap {
                        display: flex;
                        align-items: center;

                        input[type='checkbox'] {
                          width: 16px;
                          height: 16px;
                          border: 1px solid #ccc;

                        }

                        label {
                          color: #555;
                          margin-left: 5px;
                        }
                      }
                    }
                    .tag {
                      position: relative;
                      .register_btn {
                        background: rgba(35,35,35,0.6);
                        color: #fff;
                        width: 37px;
                        height: 24px;
                        position: absolute;
                        top: 33px;
                        right: 4px;
                      }
                      .tag_name {
                        margin-top: 10px;
                        max-height: 80px;
                        overflow-y: auto;

                        .name {
                          padding: 2px 8px 6px 12px;
                          background-color: #F3F7FD;
                          border-radius: 100px;
                          display: inline-block;
                          margin-right: 10px;
                          margin-bottom: 10px;
                        }

                        .bm_icon {
                          margin-left: 4px;
                          width: 20px;
                          height: 20px;
                          display: inline-block;
                          transform: translateY(4px);
                          background-image: url("/admin/static/img/bm_icon.svg");
                          background-position: -125px -62px;
                          cursor: pointer;
                          border-radius: 50%;
                          transition: all .2s;

                          &:hover {
                            background-color: #dbe0e8;
                          }
                        }
                      }
                    }
                    li {
                      margin-bottom: 12px;
                    }
                  }
                }
              }
              .position_wrap {
                position: static;
                display: block;
                width: 100%;
                padding-bottom: 10px;
                .time_table {
                  display: block;
                  div {
                    display: block;
                  }
                }
              }
            }
            .tab_meeting {
              display: block;
              width: calc(100% - 4px);

              .contents_left {
                width: 100%;

                .step01 {
                  padding: 10px 7px;
                  background: #f9f9f9;
                  margin-bottom: 16px;
                }
                .step02 {
                  padding: 10px 7px;
                  margin-top: 0;
                  border-top: none;
                  background: #f9f9f9;
                  margin-bottom: 16px;
                }

                .save_btn {
                  background: rgba(35,35,35,0.6);
                  color: #fff;
                  padding: 5px 7px 7px 7px ;
                  height: 30px;
                }
                .history_txt {
                  .top {
                    time {
                      font-size: $font-size-sm;
                    }
                    span {
                      font-size: $font-size-sm;
                    }
                  }
                  .bottom {
                    font-size: $font-size-sm;
                  }
                }
              }
              .contents_center {
                border: none;
                padding: 0;
                width: 100%;

                .step03 {
                  padding: 10px 7px;
                  margin-top: 0;
                  border-top: none;
                  background: #f9f9f9;
                  margin-bottom: 16px;
                  .history_wrap {
                    margin-bottom: 12px;
                  }
                  .schedule_add {
                    width: 100%;
                    background: $theme-color;
                    padding: 6px;
                  }
                }
              }
               .contents_right {
                 width: 100%;
                 padding-bottom: 10px;
                 .step04 {
                   padding: 10px 7px;
                   margin-top: 0;
                   border-top: none;
                   background: #f9f9f9;
                 }
                 .save_btn {
                   background: rgba(35,35,35,0.6);
                   color: #fff;
                   padding: 5px 7px 7px 7px ;
                   height: 30px;
                 }
               }
              .text {
                font-size: 13px;
                color: #555;
              }
            }
            .tabContract {
              .content_box {
                display: block;
                @media screen and (min-width: 700px) {
                  display: flex;
                }
                .tabcontract_info {
                  width: 100%;
                  padding-left: 0;
                  padding-right: 0;
                  @media screen and (min-width:700px) {
                    padding-bottom: 60px;
                  }
                  li {
                    display: block;
                    margin-bottom: 16px;
                    width: 100%;
                    .label {
                      font-size: 13px;
                      color: #555;
                      padding: 6px 0;
                    }
                    input {
                      background: #fff;
                      padding: 0 6px;
                      height: 40px;
                      width: 100%;

                    }
                    .content {
                      margin: 0 6px;
                    }
                    &.period {
                      .date_box {
                        flex-wrap: wrap;
                        .input_box {
                          width: 100%;
                          display: flex;
                          gap: 10px;
                          border: 1px solid #eee;
                          padding: 0 6px;
                          align-items: center;
                          .date_label {
                            width: 42px;
                            font-size: 13px;
                            color: $theme-color;
                          }
                          input {
                            border: none !important;
                            width: calc(100% - 50px);
                            background: #fff;
                            padding: 0;
                            &.start_input {
                              margin-right: 0;
                            }
                          }
                        }
                      }
                    }
                    input[type="text"], input[type="date"] {
                      border: 1px solid #eee;
                      text-align: left;
                      text-align-last: left;
                      position: relative;
                      -webkit-appearance: none; /* Safari 네이티브 UI 제거 */
                      appearance: none;
                      &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        transform: translateY(-50%);
                        background: url("/admin/static/img/mobile_icon.svg");
                        width: 16px;
                        height: 16px;
                        background-position: -114px -94px;
                      }
                    }
                    .radio_wrap {
                      li {
                        display: flex;
                        justify-content: flex-start;
                        gap: 10px;
                        flex-wrap: wrap;
                        width: 45%;
                        align-items: flex-start;
                        .radio_label {
                          width: 122px;
                        }
                        .input_number {
                          padding: 0 10px;
                          width: 40px;
                        }
                      }
                    }
                    &.file_btn_wrap {
                      display: flex;
                      align-items: center;
                      p {
                        &.label {
                          display: block;
                          width: 90px;
                        }
                      }
                      .file_attachment {
                        width: calc(100% - 86px);
                        label {
                          width: 58px;
                          font-size: 13px;
                        }
                        .upload_name {
                          width: calc(100% - 80px);
                          overflow: hidden;
                          white-space: nowrap;
                          text-overflow: ellipsis;
                        }
                      }
                    }
                  }
                }
                .tabcontract_account {
                  padding: 0;
                  width: 100% !important;
                  .accountBox {
                    padding: 10px;
                    margin-bottom: 90px;
                    table {
                      th {
                        font-size: 13px;
                      }
                    }
                    .account_loginInfo {
                      li {
                        .label {
                          font-size: 13px;
                        }
                        .input_box {
                          .input_write {
                            input {
                              border: 1px solid #eee;
                              }
                            button {
                              padding: 4px;
                            }

                          }
                        }

                      }
                    }
                  }
                }
              }
            }
            .tab_deposit {
              .title {
                margin-bottom: 16px;
              }
              .deposit_box {
                margin-bottom: 16px;
                 .deposit_box_item {
                   width: 100%;
                   margin-bottom: 6px;
                 }
              }
              .deposit_list {
                @media screen and (min-width:700px) {
                  display: flex;
                  justify-content: space-between;
                }
                li {
                  padding: 10px 7px;
                  background: #f9f9f9;
                  margin-bottom: 16px;
                  @media screen and (min-width:700px) {
                    width: 49%;
                  }
                  .number {
                    display: inline-block;
                    padding: 6px 10px;
                    background: #E4F1FF;
                    color: #007aff;
                    border-radius: 50px;
                    margin-bottom: 12px;
                  }
                  .row_box {
                    background: #fff;
                    padding: 0 6px;
                    margin-bottom: 12px;
                    display: flex;
                    align-items: center;
                    .label {
                      display: block;
                      padding: 5px 7px;
                      background: #f5f5f5;
                      border-radius: $border-radius;
                      width: 121px;

                    }
                    input {
                      padding: 10px;
                      border: none;
                      background: #fff;
                      width: 100%;
                      height: 40px;
                    }
                    input[type='date'] {
                      width: calc(100% - 130px);
                      -webkit-appearance: none; /* Safari 네이티브 UI 제거 */
                      appearance: none;
                      text-align-last: left;
                      position: relative;
                      &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        background: url("/admin/static/img/mobile_icon.svg");
                        width: 16px;
                        height: 16px;
                        background-position: -114px -94px;
                      }

                    }
                    &.confirm {
                      padding: 6px 6px 12px 6px;
                      align-items: flex-start;
                      .confirm_choseBox {
                        width: calc(100% - 140px);
                        display: block;
                        .radio_label {
                          margin-left: 10px;
                          width: 100%;
                          &:first-child {
                            margin-bottom: 4px;
                          }
                          input[type="date"] {
                            width: 100%;
                            height: 30px;
                            padding: 0;
                          }
                        }
                      }
                    }
                  }
                  .btn_box {
                    display: flex;
                    justify-content: flex-end;
                    gap: 10px;
                    button {
                      padding: 8px 10px;
                      border: 1px dashed #ccc;
                      background: transparent;
                      gap: 4px;
                      align-items: center;
                      .bm_icon {
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        &.plus {
                          background-position: -206px -230px;
                        }
                        &.minus {
                          background-position: -240px -230px;
                        }
                      }
                    }
                  }
                }
              }
              .note {
                margin-bottom: 80px;
              }
            }
          }
        }
        .tab_contents_right {
          .label {
            font-size: 13px;
            color: #555;
            display: block;
            margin-bottom: 10px;
          }
          textarea {
            width: 100%;
            height: 117px;
            border: 1px solid #eee;
            margin: 0 0 14px 0;
            padding: 8px 10px;
          }
        }
      }
      .btn_wrap {
        width: 100%;
        margin: 0;
        text-align: left;
        padding: 14px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
        border-top: 1px solid #ddd;
        button {
          width: 48% !important;
          height: 38px;
          &.list_btn {
            @include whiteBtn;
            &.on {
              width: 100% !important;
            }
          }
          &.save_btn {
            background: $theme-color !important;
            color: #fff;
          }
        }
      }
    }
  }
}

.mobile_popupContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
  width: 100%;
  min-height: 100%;
  background: #fff;
  &.meetingSchedulePopup {
    padding: 50px 12px;
    h4 {
      font-size: 16px;
      color: $theme-color;
      font-weight: 500;
      display: flex;
      gap: 10px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #fff;
      .bm_icon {
        display: block;
        width: 20px;
        height: 20px;
        background-position: -166px -227px;
      }
    }
    .schedule_wrap {
      overflow-y:scroll;
      height: calc(100dvh - 121px);
      &>li {
        padding: 14px 10px;
        background: #f9f9f9;
        margin-bottom: 10px;
        p {
          padding: 6px 10px;
          background: #F0F0F1;
          width: 62px;
          border-radius: 50px;
          font-size: 13px;
          margin-bottom: 10px;
        }
        .content_box {
          padding: 0 10px;
          .input_wrap {
            display: flex;
            margin-bottom: 10px;
            .label {
              display: block;
              width: 60px;
              padding: 10px 0;
              text-align: left;
              font-size: 13px;
              color:#555
            }
            input {
              background: #fff;
              border: 1px solid #eee;
              padding: 10px;
              width: calc(100% - 60px);
            }
            input[type='date'] {
              -webkit-appearance: none; /* Safari 네이티브 UI 제거 */
              appearance: none;
              text-align-last: left;
              position: relative;
              &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                background: url("/admin/static/img/mobile_icon.svg");
                width: 16px;
                height: 16px;
                background-position: -114px -94px;
              }
            }
            .input_list_wrap {
              display: flex;
              width: calc(100% - 60px);
              gap: 10px;
              .input_list {
                margin-bottom: 10px;
                display: flex;
                width: 100%;
                span {
                  width: 66px;
                  text-align: center;
                  padding: 10px;
                  background-color: #f5f5f5;
                  border-radius: 4px;
                  margin-right: 10px;
                }
                .filter_wrap {
                  width: 100%;
                  position: relative;
                  button {
                    width: 100%;
                    background: #fff;
                    text-align: left;
                    box-sizing: border-box;
                    padding: 10px;
                    border-radius: 0;
                    border-bottom: 1px solid #eee;
                    display: flex;
                    justify-content: space-between;
                    span {
                      padding: 0;
                      &.bm_icon {
                        width: 18px; height: 18px;
                        background: url("/admin/static/img/bm_icon.svg");
                        &.select_down {
                          background-position: -130px -20px;
                        }
                        &.select_up {
                          background-position: -92px -20px;
                        }
                        &.on {
                          display: block;
                        }
                        &.off {
                          display: none;
                        }
                      }
                    }
                  }

                }
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
            &.manager {
              align-items: center;
            }
            &.location {
              .location_input_box {
                width: calc(100% - 60px);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .input_list_wrap {
                  width: calc(50% - 5px);
                  margin-bottom: 10px;
                }
                input {
                  width: 100%;
                }
              }

            }
            &.content_txt {
              textarea {
                width: calc(100% - 60px);
                height: 200px;
                border: 1px solid #eee;
              }
            }
          }
        .tab_btn_wrap {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          gap: 10px;
          button {
            padding: 8px 10px;
            border: 1px dashed #ccc;
            background: transparent;
            display: flex;
            gap: 6px;
            align-items: center;
            &.save_btn {
              background: rgba(35, 35, 35, 0.6);
              color: #fff;
            }
            .bm_icon {
              display: block;
              width: 14px;
              height: 14px;
              background: url("/admin/static/img/bm_icon.svg");
              &.plus {
                background-position: -206px -230px;
              }
              &.minus {
                background-position: -240px -230px;
              }
              &.save {
                background-position: -20px -257px;
              }
            }
          }

        }

        }
      }
    }
    .btn_box {
      width: 100%;
      position: fixed;
      bottom: 0;
      padding: 10px;
      display: flex;
      gap: 10px;      background: #fff;
      border-top: 1px solid #ddd;
      button {
        padding: 10px;
        border-radius: 4px;
        &.white_btn {
          @include whiteBtn;
          width: 50%;
        }
        &.theme_btn {
          width: 50%;
          color: #fff;
          background: $theme-color;
        }
      }
    }
  }
}
.popup_section {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.2);
  top: 0;
  left: 0;
  .meetingPopup {
    position: absolute;
    z-index: 9;
    top: 5dvh;
    left: 50%;
    width: 90%;
    height: 90dvh;
    overflow: hidden;
    transform: translateX(-50%);
    @include popupContainer;
    padding: 0;
    @media screen and (min-width: 768px) {
      height: 476px;
    }
    .bm_icon {
      background: url("/admin/static/img/bm_icon.svg");
    }
    .close_box {
      display: flex;
      justify-content: flex-end;
      padding: 10px 10px 0 10px;
      .close {
        display: block;
        width: 20px;
        height: 20px;
        background-position: -84px -151px;
      }
    }
    .calendar_box {
      padding: 10px;
      gap: 20px;
      @media screen and (min-width: 768px) {
        display: flex;
      }
      .calendar {
        border: none;
        background: #FAFAFA;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.08);
        width: 100%;
        height: 414px;
        padding: 10px;
        margin-bottom: 10px;
        .calendar_top {
          display: flex;
          justify-content: center;
          gap: 40px;
          align-items: center;
          margin-bottom: 16px;
          span {
            display: block;
            width: 20px;
            height: 20px;
            background-position: -124px -150px;
            cursor: pointer;
            &.right {
              transform: rotate(180deg);
            }
          }
          h5 {
            font-size: 18px;
          }
        }
        ul {
          display: flex;
          li {
            text-align: center;
            width: 14.2%;
          }
          &.weekday {
            margin-bottom: 10px;
            padding: 10px 0;
          }
          &.date {
            margin-bottom: 6px;
            &:last-child {
              margin-bottom: 0;
            }
            li {
              padding: 3px ;
              border-radius : 6px;
              cursor: pointer;
              .date_number {
                width: 34px;
                border-radius: 50%;
                margin: 0 auto;
                line-height: 26px;
                font-size: 16px;
              }
              .meeting_number {
                font-size: 10px;
                padding-top: 4px;
                display: flex;
                align-items: center;
                gap: 2px;
                justify-content: center;
                color: #797979;
                .circle {
                  width: 4px;
                  height: 4px;
                  display: block;
                  border-radius: 50%;
                  background: #003ace;
                }
              }
              &.today {
                .date_number {
                  background: #ffd632;
                  color: #fff;
                  font-weight: bold;
                }
              }
              &.on {
                background: #003ACE;
                color: #fff;
                p {
                  color: #fff;
                  .circle {
                    background: #fff;
                  }
                }
                &.today {
                  .date_number{
                    color: #FFDB4B;
                    background: transparent;
                  }
                }
              }
              &.sunday {
                .date_number {
                  color: #D20000;
                }
              }
              &.saturday{
                .date_number {
                  color: #aaa;
                }
              }
            }
          }
        }
      }
      .meeting_list_box {
        height: calc(90vh - 484px);
        width: 100%;
        overflow-y: scroll;
        @media screen and (min-width: 768px) {
          height: 476px;
        }
        &::-webkit-scrollbar {
          background: #fff;
          width: 8px;
        }
        &::-webkit-scrollbar-thumb {
          background: #ddd;
          border-radius: 10px;
        }
        .meeting_list {
          width: 100%;
          li {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
            margin-bottom: 14px;
            border-left: 5px solid #FFCC00;
            padding: 12px 15px;
            .title {
              font-weight: 400;
              font-size: 16px;
              display: flex;
              margin-bottom: 8px;
              span {
                margin-left: 10px;
                font-size: $font-size-sm-bm;
                color: #f64040;
              }
            }
            .adress {
              color: #797979;
              font-size: 14px;
              margin-bottom: 12px;
            }
            .bottom_wrap {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .time {
                display: flex;
                gap: 6px;
                .clock {
                  width: 14px;
                  height: 14px;
                  display: block;
                  background-position: -164px -155px;
                }
              }
              .manager {
                display: flex;
                gap: 4px;
                width: 64px;
                height: 22px;
                align-items: center;
                color: #fff;
                background: #FFCC00;
                padding: 4px 5px;
                border-radius: 2px;
                .manager_icon {
                  width: 12px;
                  height: 12px;
                  display: block;
                  background-position: -198px -156px;
                }
              }
            }
            &.status-done {
              .title {

                span {
                  color: #cdcdcd;
                }
              }
            }
            &.manager-2 {
              border-left: 5px solid #33D179;
              .manager {
                background: #33D179;
              }
            }
            &.manager-3 {
              border-left: 5px solid #779DF0;
              .manager {
                background: #779DF0;
              }
            }
          }
        }
      }
    }
  }
}