@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.reportPaperSection {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #eaeaea;

  * {
    font-family: "Inter", sans-serif;
  }

  .pdf_btn_box {
    position: fixed;
    top: 20px;
    left: calc(50% + 400px);

    button {
      background: #007aff;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 12px;
      padding: 6px 12px;
      border-radius: 2px;
      font-weight: 600;
      height: 44px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
      margin-bottom: 17px;
    }

    p {
      font-size: 13px;
      color: #5c5c5c;
    }
  }
}

.reportPaperContent {
  background: #fff;
  width: 595px;
  margin: 0 auto;
  position: relative;

  .Paper {
    width: 100%;
    height: 842px;
    position: relative;

    &.cover {
      background: url("/admin/static/img/report_cover_print.png") no-repeat center center/cover;

      .cover_info {
        padding: 16px 22px;
        font-size: 11px;
        color: #000;
        letter-spacing: 0.22px;
      }

      .title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 49px;

        .title_info {
          color: #fff;
          letter-spacing: -0.42px;
          margin-bottom: 8px;
        }

        h2 {
          color: #fff;
          font-size: 35px;
          font-weight: 800;
          line-height: 42px;
          margin-bottom: 78px;
        }

        .company {
          width: 292px;
          height: 45px;
          line-height: 45px;
          background: #fff;
          border-radius: 4px;
          color: #383838;
          text-align: center;
          font-size: 16px;
          letter-spacing: -0.8px;
          font-weight: 500;
          margin-bottom: 16px;
        }

        span {
          display: block;
          padding-left: 10px;
          font-size: 12.5px;
          letter-spacing: -0.625px;
          font-weight: 300;
          color: #fff;
        }
      }

      .createDate {
        position: absolute;
        bottom: 73px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 13px;
        color: #000;
        letter-spacing: -0.39px;
      }

      .cover_logo {
        position: absolute;
        left: 50%;
        bottom: 18px;
        transform: translateX(-50%);
      }
    }

    &.color {
      //background: url("/admin/static/img/report_color.png") no-repeat center center/cover;
      position: relative;
      padding: 0 0 0 33px;
      overflow: hidden;

      h2 {
        //color: rgba(255,255,255,0.1);
        color: rgba(30, 89, 169, 0.2);
        font-size: 250px;
        font-weight: 700;
        line-height: 303px;
        position: absolute;
        top: -67px;
        left: -52px;
      }

      h3 {
        //color: #FFF;
        color: #0D3D7D;
        font-size: 35px;
        font-weight: 700;
        line-height: 42px;
        padding-top: 202px;
        margin-bottom: 36px;
        position: relative;
        z-index: 1;

        &::before {
          content: '';
          position: absolute;
          left: -33px;
          top: 229px;
          width: 100%;
          height: 18px;
          background: linear-gradient(to right, #D9E2F0, #FFFFFF);
          z-index: -1;
        }
      }

      div {
        margin-bottom: 33px;

        h5 {
          //color: #fff;
          color: #333;
          font-weight: 500;
          font-size: 14px;
          margin-bottom: 10px;
        }

        p {
          //color: #fff;
          color: #444;
          font-weight: 200;
          font-size: 11.5px;
          line-height: 17.25px;
        }

        ul {
          li {
            font-weight: 200;
            font-size: 11.5px;
            line-height: 17.25px;
            letter-spacing: -0.2875px;
            //color: #fff;
            color: #444;
            padding: 0 7px;
            margin-bottom: 10px;
            display: flex;
            gap: 8px;

            span {
              font-size: 8px;
              //color: #fff;
              color: #444;
              display: block;
              padding: 3.5px 0;
            }
          }
        }
      }

      table {
        width: 100%;
        //border-top: 1px solid rgba(255,255,255,0.8);
        //border-bottom: 1px solid rgba(255,255,255,0.8);
        border-top: 1px solid rgba(30, 89, 169, 0.8);
        border-bottom: 1px solid rgba(30, 89, 169, 0.8);

        tr {
          th {
            width: 100px;
            padding: 7px 20px;
            background: rgba(30, 89, 169, 0.1);
            //color: #fff;
            color: #444;
            //border-bottom: 1px solid rgba(2555,255,255,0.3);
            font-weight: 500;
            font-size: 11.5px;
            text-align: left;
          }

          td {
            //color: #fff;
            color: #444;
            padding: 7px 20px;
            //border-bottom: 1px solid rgba(2555,255,255,0.3);
            font-weight: 200;
            font-size: 11.5px;
          }
        }
      }
    }
  }

  .Inlay {
    padding: 50px 0 25px 0;

    &.companyAnalysisList {
      .analysis-section {
        .section-header {
          padding: 0 23px;
          display: flex;
          height: 78px;
          align-items: center;
          background: #F4F4F4;
          gap: 15px;
          margin-bottom: 23px;

          .img_box {
            width: 78px;
            height: 78px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 30px;
            }
          }

          .text_box {
            h3 {
              font-weight: 500;
              font-size: 18px;
              color: #302a2a;
              line-height: 21px;
              margin-bottom: 6px;
            }

            p {
              font-weight: 200;
              font-size: 11.5px;
              color: #333;
            }
          }
        }

        .section-content {
          padding: 10px 33px;
          margin-bottom: 50px;

          * {
            font-size: 11px !important;
          }
        }
      }
    }

    &.activityReport {
      .activityReportBox {
        padding: 0 0 0 23px;

        .buyer_info_box {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          display: flex;
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
          margin-bottom: 20px;

          .buyer_number {
            padding-top: 18px;
            position: relative;
            width: 77px;

            p {
              text-align: center;
              color: #fff;
              font-size: 10px;
              font-weight: 700;
              letter-spacing: -0.25px;
            }

            span {
              font-size: 50px;
              font-weight: 600;
              color: rgba(255, 255, 255, 0.3);
              position: absolute;
              left: -5px;
              bottom: 9px;
              -webkit-text-stroke: 6px rgba(255, 255, 255, 0.1);
            }
          }

          .buyer_info {
            background: #fff;
            padding: 10px 23px 0 0;
            width: calc(100% - 77px);

            .top {
              display: flex;
              gap: 10px;
              align-items: center;

              .company {
                color: #fff;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 38px;
                font-size: 14px;
                font-weight: 700;
                padding: 6px 10px;
                width: 357px;
              }

              .nation {
                img {
                  margin-right: 5px;
                }

                font-size: 9px;
                font-weight: 300;
                color: #444;
              }
            }

            .bottom {
              padding: 10px 20px;

              li {
                display: flex;
                gap: 10px;
                align-items: flex-start;
                font-size: 9px;
                letter-spacing: -0.225px;
                color: #171717;
                margin-bottom: 6px;

                span {
                  font-size: 9px;
                  letter-spacing: -0.225px;
                  color: #7b7b7b;
                  font-weight: 300;
                  display: block;
                  width: 36px;
                  padding: 3px 0;
                }

                a {
                  font-size: 9px;
                  letter-spacing: -0.225px;
                  color: #171717;
                }
              }
            }
          }
        }

        .activityReportAll {
          padding-left: 77px;

          .activityReport_content {
            margin-bottom: 48px;

            .activityTitle_box {
              .title {
                padding: 10px;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: -0.3px;
                border-bottom: 1px solid #eee;
                border-bottom: 1px solid #eee;
                border-top: 1px solid #eee;
                color: #333;
              }

              div {
                display: flex;
                border-bottom: 1px solid #eee;

                p {
                  padding: 10px;
                  display: flex;
                  width: 180px;
                  font-size: 10px;
                  color: #444;
                  letter-spacing: -0.25px;
                  font-weight: 200;

                  span {
                    font-size: 10px;
                    font-weight: 500;
                    color: #444;
                    letter-spacing: -0.25px;
                    display: block;
                    width: 69px;
                  }
                }
              }
            }

            .content {
              padding: 10px 23px 10px 10px;

              * {
                font-size: 10.5px !important;
              }

              table {
                width: 100% !important;
              }
            }
          }

        }
      }
    }
  }
}

@media print {
  @page {
    size: A4 portrait;  /* A4 세로 */
    margin: 0;          /* 여백 제거 */
  }
  body {
    margin: 0; /* 브라우저 기본 여백 제거 */
  }

  .reportPaperSection {
    background: #fff; /* 배경색 제거 (원하면 유지) */
    width: 100%;
    height: auto;
    overflow: visible;
  }

  .printSection {
    width: 210mm !important; /* A4 가로 크기(mm 단위) */
    height: auto;
    margin: 0 auto;
  }

  .reportPaperContent {
    width: 210mm !important;
    min-height: 297mm; /* A4 세로 크기 */
    margin: 0 auto;
    box-shadow: none;
    page-break-after: always;
  }
  .reportPaperContent .Paper {
    width: 210mm;
    height: 297mm; /* A4 세로 px대신 mm로 고정 */
    &.color {
      h2 {
        top: -26mm;
      }

      h3 {
        padding-top: 74mm;

        &::before {
          top: 81mm;
        }
      }

    }
  }
}

